.canvas {

  & * {
    border-radius: 1rem;

    @media (max-width: 900px) {
      border-radius: 0;
    }
  }
}

.canvas-wrapper  {
  aspect-ratio: 1 / 1;
  margin: 0 auto;
  max-width: 600px;
}

.viewport {
  margin: 0.5rem;

  @media (max-width: 900px) {
    margin: 0;
  }
}