.color-picker {
  align-items: center;
  display: flex;
  flex-direction: row;
  font-size: var(--ui-font-size);
  gap: 0.5rem;
  justify-content: space-between;
  user-select: none;
  -webkit-user-select: none;
}