.control {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;

  @media (max-width: 900px) {
    margin-block-end: 1rem;
  }

  .control-label {
    align-items: center;
    cursor: pointer;
    display: flex;
    flex-grow: 1;
    font-size: var(--ui-font-size);
    justify-content: space-between;
    user-select: none;
    -webkit-user-select: none;
    width: 2.25rem;
  }

  .control-input {
    flex-grow: 10;
  }
}