:root {
  --accent-color: oklch(0.4 0.1 240);
  --background-color: oklch(0.9 0 0);
  --button-color: oklch(0.98 0 0);
  --button-border-color: oklch(1 0 0 / 0.6);
  --shadow-color: oklch(0.6 0 0 / 0.6);
  --slider-progress-color: oklch(0.6 0 0);
  --text-color: oklch(0.1 0 0);

  --ui-font-size: 0.8rem;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  backdrop-filter: blur(10px);
  background:
    radial-gradient(
      oklch(0.9 0.05 280 / 0.1),
      oklch(0.9 0.05 280 / 0.1) 60%,
      oklch(0.9 0.05 280 / 0.25)
    ),
    linear-gradient(
      135deg,
      oklch(1 0.05 200 / 0.1),
      oklch(1 0.05 200 / 0.6)
    );
  display: grid;
  height: 100dvh;
  font-family: 'Helvetica', 'Arial', system-ui, sans-serif;
  place-items: center;

  @media (max-width: 900px) {
    padding: 0;
  }
}

#root {
  background:
    linear-gradient(oklch(0.98 0 0)) padding-box,
    linear-gradient(
      to bottom,
      oklch(1 0 0),
      oklch(0.75 0 0 / 0.8)
    ) border-box;
  border: 1px solid transparent;
  border-radius: 1rem;
  box-shadow: 0 0 1rem oklch(0.6 0 0 / 0.8);
  display: grid;
  grid-template-columns: 2fr 1fr;
  height: 30rem;
  width: 45rem;

  @media (max-width: 900px) {
    border: none;
    border-radius: 0;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    height: 100dvh;
    width: 100dvw;
  }
}

.button {
  background: var(--button-color);
  border-radius: 2rem;
  border: 1px solid var(--button-border-color);
  box-shadow: 0 0.125rem 0.25rem var(--shadow-color);
  color: var(--text-color);
  cursor: pointer;
  font-size: calc(var(--ui-font-size) * 1.1);
  padding: 0.5rem;
  transition: all 0.2s ease;
  z-index: 100;

  @media (max-width: 900px) {
    width: 48%;
  }

  &:hover {
    background: oklch(0.99 0 0 / 0.7);
    box-shadow: 0 0.125rem 0.5rem var(--shadow-color);

    @media (min-width: 901px) {
      transform: scale(1.01);
    }
  }
}
