h2 {
  border-block-end: 1px solid oklch(0 0 0 / 0.2);
  font-size: 0.85rem;
  margin-block-end: 0;
  padding-block-end: 0.25rem;
}

.sidebar {
  & > div + div {
    padding-block-start: 0.5rem;
  }
}

.spacer {
  flex-grow: 1;
}