.switch {
  --base-size: 1rem;

  display: flex;
  align-items: center;
  gap: 1rem;

  span {
    cursor: pointer;
    font-size: var(--ui-font-size);
  }

  input {
    display: none;
  }

  .slider {
    background-color: #ccc;
    border-radius: var(--base-size);
    bottom: 0;
    box-shadow: inset 0 0 2px var(--shadow-color);
    cursor: pointer;
    height: calc(var(--base-size) + 2px);
    left: 0;
    right: 0;
    top: 0;
    transition: 0.4s;
    width: calc(var(--base-size) * 2);
  }

  .slider:before {
    background-color: white;
    border-radius: 50%;
    border: 1px solid var(--accent-color);
    bottom: 0.25rem;
    content: "";
    height: 100%;
    transition: 0.2s;
    width: var(--base-size);
  }

  input:checked + .slider {
    background-color: var(--accent-color);
  }

  input:checked + .slider:before {
    transform: translateX(var(--base-size));
  }
}