.xypad {
  background: var(--background-color);
  border-radius: 0.75rem;
  box-shadow: inset 0 0 2px var(--shadow-color);
  height: 5rem;
  position: relative;
}

.thumb {
  --size: 1.2rem;
  --size-m: 2rem;

  background: white;
  border: 1px solid var(--accent-color);
  border-radius: var(--size);
  box-shadow: 0 1px 1px var(--shadow-color);
  display: inline-block;
  height: var(--size);
  position: absolute;
  width: var(--size);

  @media (max-width: 900px) {
    height: var(--size-m);
    width: var(--size-m);
  }
}